* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li, a {
    text-decoration: none;
    list-style: none;
    color: white;
}
.section-one {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;



}
.background-container {
    position: absolute;
    z-index: -1;
    /* height: 100dvh; */
    background-image: url('./images/youtuber-korty-eo-pink-dress.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    background-color: blue;
    width: 80%;
    height: 40%;
}
.section-one .headline{
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    display: inline-block;
    /* background-color: red; */
}
.section-one .headline span{
    /* width: 25%; */
    display: inline-block;
    margin: 10px;
}
nav {
    /* background-color: aqua; */
    z-index: 10;
    position: absolute;
    bottom: 1rem;
    width: 20rem;
    left: 1rem;
    /* background-color: red; */
}
nav ul {
    display: flex;
    justify-content: space-evenly;

}




.section-two {
margin-top: 70vh;
overflow-x: hidden;
position: relative;

}
.container {
    height: 100vh; 
    width: 300%;
    overflow: hidden;
    /* background-color: aqua; */
    display: flex;
    flex-flow: row-reverse;
    
}
.container img {
    width: 300px;
}
.section-two  .cards{
    display: flex;
    width: 100dvw;
    /* width: calc(100vw * 3); */
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 4rem;

}

.section-two .one {
    /* background-color: red; */
}   
.section-two .two {
    background-color: blue;
}
.section-two .three {
    background-color: yellow;
}
@media screen and (min-width: 700px){
    .section-one .headline{

        /* width: 50%; */

    }
    .container img {
        width: 500px;
    }
}
@media screen and (min-width: 1200px){

    .section-one .headline{

        width: 50%;

    }
    .background-container {

        width: 500px;
        height: 500px;
    }
    .container img {
        width: 500px;
    }

}

